<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/styles/libs.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/styles/app.css")" rel="stylesheet"/>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Game", "Home")" class="navbar-brand">
                    <span class="glyphicon glyphicon-user"></span> Игра
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("Rules", "Home")">
                        <span class="glyphicon glyphicon-th-list"></span> Правила
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Hiscores", "Home")">
                        <span class="glyphicon glyphicon-th-list"></span> Результаты
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="@Url.Content("~/Content/scripts/libs.js")" type="text/javascript"></script>
    @RenderSection("Scripts", false)
</body>
</html>
